.page-header {
  margin-top: 40px;
}

.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.spinner-button i {
  color: #fff;
}

.spinner-button:hover i {
  color: #fff;
}

.fa {
  color: #fff;
}

.fa:hover {
  color: #fff;
}
